.main-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.hero-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #526db3;
  text-align: center;
}

.navigation {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #e4e4e4;
  -webkit-transition: -webkit-box-flex 200ms ease, -webkit-flex 200ms ease;
  transition: -webkit-box-flex 200ms ease, -webkit-flex 200ms ease;
  transition: flex 200ms ease;
  transition: flex 200ms ease, -webkit-box-flex 200ms ease, -webkit-flex 200ms ease, -ms-flex 200ms ease;
  text-align: center;
}

.navigation:hover {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.nav-link {
  display: inline-block;
  padding: 10px;
  font-family: 'PT Sans', sans-serif;
  color: #1a1818;
  text-decoration: underline;
  text-transform: uppercase;
}

.nav-link.copyright {
  position: static;
  display: inline-block;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-image {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 50%;
}

.paragraph-text {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
}

.big-link-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.biglink {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px 5px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  font-size: 50px;
  text-decoration: none;
}

.flex-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.sidebar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: #2a4496;
  background-image: -webkit-linear-gradient(216deg, #0091ff, hsla(0, 41%, 79%, .22));
  background-image: linear-gradient(234deg, #0091ff, hsla(0, 41%, 79%, .22));
  text-align: center;
}

.main-content {
  overflow: scroll;
  padding: 50px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 1px none #f0ece5;
  background-color: #f0ece5;
}

.title-wrapper {
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.title {
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  font-size: 26px;
  font-weight: 700;
}

.blog-image {
  margin: 12px 12px 36px;
  padding: 6px;
  border: 5px none #fff;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 200ms cubic-bezier(.19, 1, .22, 1);
  transition: -webkit-transform 200ms cubic-bezier(.19, 1, .22, 1);
  transition: transform 200ms cubic-bezier(.19, 1, .22, 1);
  transition: transform 200ms cubic-bezier(.19, 1, .22, 1), -webkit-transform 200ms cubic-bezier(.19, 1, .22, 1);
}

.blog-image:hover {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.blog-image:active {
  border: 5px none #fff;
}

.bio {
  width: 594px;
  padding: 15px;
  font-family: 'PT Sans', sans-serif;
  color: hsla(0, 0%, 99%, .66);
  font-size: 15px;
}

.content-box {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 34px;
  background-color: #fff;
  box-shadow: 1px 1px 15px 0 rgba(0, 0, 0, .09);
  font-family: 'PT Serif', serif;
  font-size: 17px;
  line-height: 27px;
}

.links-div {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.social-icon {
  margin: 13px;
  padding-top: 11px;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
  cursor: pointer;
}

.social-icon:hover {
  -webkit-transform: scale(1.19);
  -ms-transform: scale(1.19);
  transform: scale(1.19);
}

.test-wrapper {
  margin: 50px;
}

.section-main {
  background-color: #ffcece;
}

.e-mail-form {
  display: inline-block;
}

.submit-button {
  margin-top: -48px;
  margin-right: -75px;
  float: right;
  border-radius: 0%;
  background-color: #1b274e;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
}

.submit-field {
  width: 203px;
  margin-top: 10px;
  margin-left: 0px;
  font-family: 'PT Sans', sans-serif;
  text-align: left;
}

.form-label {
  margin-top: 20px;
  opacity: 0.75;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
}

.copyright {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  opacity: 0.5;
  font-family: 'PT Sans', sans-serif;
  color: #000;
  font-size: 15px;
  text-transform: none;
}

.copyright.cr-sidebar {
  margin-top: 28px;
  color: #fff;
}

.social-icons {
  display: block;
  margin-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.newsletter {
  padding: 0px;
}

.blog-title {
  display: inline;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: 'PT Serif', serif;
  color: #000;
  font-size: 35px;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
}

.blog-title:hover {
  color: #2a4496;
  font-size: 35px;
}

.read-more {
  position: static;
  left: 0px;
  right: 0px;
  bottom: -1px;
  display: block;
  margin-top: 12px;
  margin-right: auto;
  float: left;
  clear: both;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border: 1px solid #747474;
  background-color: #ffe7bd;
  box-shadow: inset 0 -1px 5px -25px hsla(0, 0%, 100%, .45);
  color: #000;
  text-shadow: 0 -1px 0 hsla(0, 0%, 100%, .89);
  cursor: pointer;
}

.read-more:hover {
  box-shadow: inset 0 -1px 5px -25px hsla(0, 0%, 100%, .45);
  color: #000;
  text-shadow: 0 -1px 0 hsla(0, 0%, 100%, .89);
}

.blog-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.blog-author {
  display: inline-block;
  margin-top: 1px;
  padding-top: 12px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 700;
}

.blog-time {
  width: 138px;
  margin-left: 5px;
  color: rgba(51, 51, 51, .49);
}

.blog-subtitle {
  display: block;
  margin-top: 12px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  line-height: 35px;
  font-style: italic;
  letter-spacing: 0px;
  text-decoration: none;
}

.blog-leak {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-center {
  text-align: center;
}

.footer {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 164px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: transparent;
}

.jerementor-button {
  margin-top: 12px;
  margin-bottom: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .25);
  background-color: #0091ff;
  background-image: -webkit-linear-gradient(89deg, #0084e9, #0091ff 14%);
  background-image: linear-gradient(1deg, #0084e9, #0091ff 14%);
  cursor: pointer;
}

.jerementor-form {
  margin-top: 22px;
  margin-bottom: 22px;
  border-style: none none solid;
  border-bottom-width: 1px;
  border-bottom-color: #ececec;
  -webkit-transition: font-size 100ms ease;
  transition: font-size 100ms ease;
  font-size: 20px;
}

.jerementor-form:focus {
  border-bottom-color: #6d6d6d;
  font-size: 26px;
}

.jerementor-form-label {
  color: #303030;
  font-size: 17px;
}

@media (max-width: 991px) {
  .sidebar {
    width: 50%;
    padding-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .content-box {
    width: 300px;
    margin-left: -13px;
  }
  .copyright {
    margin-top: -28px;
  }
  .blog-time {
    margin-left: 0px;
  }
}

@media (max-width: 767px) {
  .sidebar {
    display: none;
  }
  .content-box {
    margin-left: 69px;
  }
  .mobile-img {
    display: block;
    width: 150px;
    height: 150px;
    max-width: none;
    margin-left: 109px;
    float: none;
    border-radius: 100%;
    text-align: left;
  }
  .mobile-container {
    display: block;
    padding: 31px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    background-color: #2a4496;
    background-image: -webkit-linear-gradient(270deg, #2a4496, #00259b);
    background-image: linear-gradient(180deg, #2a4496, #00259b);
  }
  .mobile-header {
    display: inline-block;
    margin-left: 40px;
    padding-top: 7px;
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    font-size: 42px;
    text-align: left;
  }
}

@media (max-width: 479px) {
  .sidebar {
    display: none;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .content-box {
    width: 282px;
    margin-left: -37px;
  }
  .copyright {
    font-size: 14px;
  }
  .blog-time {
    margin-left: 0px;
  }
  .mobile-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
  .mobile-img {
    margin-left: -13px;
  }
  .mobile-header {
    display: block;
    width: 161px;
    margin-left: -8px;
    font-size: 21px;
    text-align: center;
  }
}