<div class="main-content">
<div class="mobile-nav w-hidden-main w-hidden-medium w-nav" data-animation="default" data-collapse="medium" data-duration="400">
  <div class="mobile-container w-container w-hidden-main w-hidden-medium">
    <a class="w-nav-brand">
  <%= link_to (image_tag "jeremy_alexander.jpg", :class => "blog-image w-preserve-3d"), root_path %>
    </a>
    <h2 class="mobile-header">Jeremy Alexander</h2>
    <div class="bio bio-mobile">Developer of <strong>games,</strong> <strong>web apps</strong> and <strong>cartoons</strong>
      <br><em>Avid guitar player &amp; drum enthusiast</em>
    </div>
    <nav class="w-nav-menu" role="navigation"><a class="w-nav-link" href="#">Home</a><a class="w-nav-link" href="#">About</a><a class="w-nav-link" href="#">Contact</a>
    </nav>
  </div>
</div>