<div class="flex-wrap-show">
<div class="flex-nav-wrapper">
<div>
  <div class="w-row">
    <div class="w-clearfix w-col w-col-3">
      <!-- <img class="blog-header blog-image" src="images/jeremy_alexander.jpg" width="73"> -->
      <%= link_to (image_tag "jeremy_alexander.jpg", :class => "blog-header blog-image", size: "73x73"), root_path %>
      <h2 class="name">Jeremy Alexander</h2>
      <p class="bio bio-header">Developer of Games, Web Apps &amp;&nbsp;Cartoons</p>
    </div>
    <div class="nav-col w-col w-col-9">
      <%= link_to 'Back to home', root_path, :class => "link-nav" %>
    </div>
  </div>
</div>
</div>
