 <div class="sidebar">
  <div class="title-wrapper">
		<%= link_to (image_tag "jeremy_alexander.jpg", :class => "blog-image w-preserve-3d"), root_path %>
        <div class="title">Jeremy Alexander</div>
        <div class="bio">Developer of <strong>games,</strong> 
        	<strong>web apps</strong> and <strong>cartoons</strong>
          <br><em>Avid guitar player &amp; drum enthusiast</em>
        </div>


    <div class="social-icons">
    <%= image_tag "YouTube-icon-full_color.png", :class => "social-icon w-preserve-3", size: "55x55"  %>

    <%= image_tag "coach_logo.svg", :class => "social-icon ", size: "105x105" %>

    <%= image_tag "In-2C-34px-R.png", :class => "social-icon 3", size: "55x55" %>
  </div>
  <div class="copyright cr-sidebar">Copyright &copy; 2017 Jeremy Alexander</div>
  </div>
 </div>


